<div class="actionsync">
    <div class="actionsync-top"></div>
    <div class="actionsync-down" id="actionsync-down">
        <div class="device-item">
            <div class="item" id="actionSyncDevice1" (click)="actionSyncService.actionSyncDeviceFunc(1)">
                {{'devicearrangement'|translate}}
            </div>
            <div class="item" id="actionSyncDevice2" (click)="actionSyncService.actionSyncDeviceFunc(2)">
                {{'frameselection'|translate}}
            </div>
            <div class="item" id="actionSyncDevice3" (click)="actionSyncService.actionSyncDeviceFunc(3)">
                {{'lightingcenter'|translate}}
            </div>
            <div class="item-text">
                {{'zoom'|translate}}:
            </div>
            <div class="item" style="width: 50px; margin-left:15px; font-size:23px;">
                +
            </div>
            <div class="item" style="width: 50px; margin-left:5px; font-size:23px;">
                -
            </div>
        </div>
        <div class="func-item">
            <div class="item-content">
                <div class='item-list' *ngIf="actionSyncService.retrunCurrentLightingLayer() != 10" style="margin-top:0px;">
                    <div class="item-dsc"> {{'opcaity'|translate}}:</div>
                    <div class="item-value"> {{actionSyncService.opacityvalue}} </div>
                    <div class="item-slidecontainer">
                        <div class="slidecontainer">
                            <input id="opacity" type="range" min="0" max="100" class="slider" step="1" [(ngModel)]="actionSyncService.opacityvalue" (mouseup)="SliderChange('opacity')" (ngModelChange)="SliderMove('opacity')" onkeydown="event.preventDefault()">
                        </div>
                    </div>
                </div>
                <div class='item-list' *ngIf="actionSyncService.retrunCurrentLightingLayer() != 0 && actionSyncService.retrunCurrentLightingLayer() != 10 && actionSyncService.retrunCurrentLightingLayer() != 11">
                    <div class="item-dsc"> {{'speed'|translate}}:</div>
                    <div class="item-value"> {{actionSyncService.speedvalue}} </div>
                    <div class="item-slidecontainer">
                        <div class="slidecontainer">
                            <input id="speed" type="range" min="1" max="10" class="slider" step="1" [(ngModel)]="actionSyncService.speedvalue" (mouseup)="SliderChange('speed')" (ngModelChange)="SliderMove('speed')" onkeydown="event.preventDefault()">
                        </div>
                    </div>
                </div>
                <div class='item-list'  *ngIf="actionSyncService.retrunCurrentLightingLayer() == 1 || actionSyncService.retrunCurrentLightingLayer() == 2 || actionSyncService.retrunCurrentLightingLayer() == 5 || actionSyncService.retrunCurrentLightingLayer() == 6 || actionSyncService.retrunCurrentLightingLayer() == 7">
                    <div class="item-dsc"> {{'bandwidth'|translate}}:</div>
                    <div class="item-value"> {{actionSyncService.bandwidthvalue}} </div>
                    <div class="item-slidecontainer">
                        <div class="slidecontainer">
                            <input id="bandwidth" type="range" min="10" max="500" class="slider" step="10" [(ngModel)]="actionSyncService.bandwidthvalue" (mouseup)="SliderChange('bandwidth')" (ngModelChange)="SliderMove('bandwidth')" onkeydown="event.preventDefault()">
                        </div>
                    </div>
                </div>
                <div class='item-list' *ngIf="actionSyncService.retrunCurrentLightingLayer() == 1 || actionSyncService.retrunCurrentLightingLayer() == 5 || actionSyncService.retrunCurrentLightingLayer() == 8">
                    <div class="item-dsc"> {{'angle'|translate}}:</div>
                    <div class="item-value"> {{actionSyncService.anglevalue}} </div>
                    <div class="item-slidecontainer">
                        <div class="slidecontainer">
                            <input id="angle" type="range" min="0" max="360" class="slider" step="1" [(ngModel)]="actionSyncService.anglevalue" (mouseup)="SliderChange('angle')" (ngModelChange)="SliderMove('angle')" onkeydown="event.preventDefault()">
                        </div>
                    </div>
                </div>
                <div class='item-list' *ngIf="actionSyncService.retrunCurrentLightingLayer() == 5 || actionSyncService.retrunCurrentLightingLayer() == 6 || actionSyncService.retrunCurrentLightingLayer() == 7">
                    <div class="item-dsc"> {{'gap'|translate}}:</div>
                    <div class="item-value"> {{actionSyncService.gapvalue}} </div>
                    <div class="item-slidecontainer">
                        <div class="slidecontainer">
                            <input id="gap" type="range" min="0" max="500" class="slider" step="10" [(ngModel)]="actionSyncService.gapvalue" (mouseup)="SliderChange('gap')" (ngModelChange)="SliderMove('gap')" onkeydown="event.preventDefault()">
                        </div>
                    </div>
                </div>
                <div class='item-list'  *ngIf="actionSyncService.retrunCurrentLightingLayer() == 8">
                    <div class="item-dsc"> {{'number'|translate}}:</div>
                    <div class="item-value"> {{actionSyncService.numbervalue}} </div>
                    <div class="item-slidecontainer">
                        <div class="slidecontainer">
                            <input id="number" type="range" min="1" max="10" class="slider" step="1" [(ngModel)]="actionSyncService.numbervalue" (mouseup)="SliderChange('number')" (ngModelChange)="SliderMove('number')" onkeydown="event.preventDefault()">
                        </div>
                    </div>
                </div>
                <div class='item-list' *ngIf="actionSyncService.retrunCurrentLightingLayer() == 9">
                    <div class="item-dsc"> {{'fire'|translate}}:</div>
                    <div class="item-value"> {{actionSyncService.firevalue}} </div>
                    <div class="item-slidecontainer">
                        <div class="slidecontainer">
                            <input id="fire" type="range" min="0" max="10" class="slider" step="1" [(ngModel)]="actionSyncService.firevalue" (mouseup)="SliderChange('fire')" (ngModelChange)="SliderMove('fire')" onkeydown="event.preventDefault()">
                        </div>
                    </div>
                </div>
                <div class='item-list' *ngIf="actionSyncService.retrunCurrentLightingLayer() == 11">
                    <div class="item-dsc"> {{'amplitude'|translate}}:</div>
                    <div class="item-value"> {{actionSyncService.amplitudevalue}} </div>
                    <div class="item-slidecontainer">
                        <div class="slidecontainer">
                            <input id="amplitude" type="range" min="200" max="8000" class="slider" step="100" [(ngModel)]="actionSyncService.amplitudevalue" (mouseup)="SliderChange('amplitude')" (ngModelChange)="SliderMove('amplitude')" onkeydown="event.preventDefault()">
                        </div>
                    </div>
                </div>
                <div class='item-list' *ngIf="actionSyncService.retrunCurrentLightingLayer() != 0 && actionSyncService.retrunCurrentLightingLayer() != 8 && actionSyncService.retrunCurrentLightingLayer() != 9 && actionSyncService.retrunCurrentLightingLayer() != 11">
                    <div class="item-dsc"> {{'gradient'|translate}}:</div>
                    <div class="item-check">
                        <label>
                            <input type="checkbox" name="gradient" [checked]="actionSyncService.gradientvalue == true" (click)="checkbox('gradientvalue')">
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class='item-list' *ngIf="actionSyncService.retrunCurrentLightingLayer() == 2 || actionSyncService.retrunCurrentLightingLayer() == 3">
                    <div class="item-dsc"> {{'direction'|translate}}:</div>
                    <div class="item-check">
                        <label>
                            <input type="checkbox" name="direction" [checked]="actionSyncService.directionvalue == true" (click)="checkbox('directionvalue')">
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class='item-list' *ngIf="actionSyncService.retrunCurrentLightingLayer() == 5 || actionSyncService.retrunCurrentLightingLayer() == 6 || actionSyncService.retrunCurrentLightingLayer() == 7 || actionSyncService.retrunCurrentLightingLayer() == 10">
                    <div class="item-dsc"> {{'fad'|translate}}:</div>
                    <div class="item-check">
                        <label>
                            <input type="checkbox" name="fad" [checked]="actionSyncService.fadvalue == true" (click)="checkbox('fadvalue')">
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class='item-list' *ngIf="actionSyncService.retrunCurrentLightingLayer() == 5">
                    <div class="item-dsc"> {{'bidirectional'|translate}}:</div>
                    <div class="item-check">
                        <label>
                            <input type="checkbox" name="bidirectional" [checked]="actionSyncService.bidirectionalvalue == true" (click)="checkbox('bidirectionalvalue')">
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class='item-list' *ngIf="actionSyncService.retrunCurrentLightingLayer() == 10">
                    <div class="item-dsc"> {{'separate'|translate}}:</div>
                    <div class="item-check">
                        <label>
                            <input type="checkbox" name="separate" [checked]="actionSyncService.separatevalue == true" (click)="checkbox('separatevalue')">
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class='item-list' *ngIf="actionSyncService.retrunCurrentLightingLayer() == 5">
                    <div class="item-dsc"> {{'bump'|translate}}:</div>
                    <div class="item-check">
                        <label>
                            <input type="checkbox" name="bumpvalue" [checked]="actionSyncService.bumpvalue == true" (click)="checkbox('bumpvalue')">
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="func-color">
            <div class="func-color-block1">
                <div class="item" style="width:540px;">
                    <div class="text">
                        {{'color'|translate}}:
                    </div>
                    <div class="color" id="colorbox"></div>
                    <div class="colorpicker">
                        {{'opencolorpicker'|translate}}
                    </div>
                </div>
            </div>
            <div class="func-color-block2">

            </div>
        </div>
    </div>
</div>