.content {
    // display:flex;
    // flex-direction: column;
    position: absolute;
    top: 63px;
    left: 360px;
    width: 1560px;
    height: 1017px;
    font-family: MR,serif;
    .content-main {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 1560px;
        height: 620px;
        background-image: url('./image/contentmain.png');
        background-repeat: no-repeat;
        background-position: center;

        .undo {
            position: absolute;
            top: 30px;
            left: 1245px;
            width: 31px;
            height: 17px;
            z-index: 100;
            background-image: url('./image/undo_normal.png');
            cursor: pointer;
        }

        .undo:hover {
            filter: brightness(150%);
        }

        .redo {
            position: absolute;
            top: 30px;
            left: 1300px;
            width: 31px;
            height: 17px;
            z-index: 100;
            background-image: url('./image/redo_normal.png');
            cursor: pointer;
        }

        .redo:hover {
            filter: brightness(150%);
        }

        .lighting-area {
            position: absolute;
            color: #646464;
            .number1 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                border: 2px solid #646464;
                border-radius: 50%;
                cursor: pointer;
            }
            .line1 {
                position: absolute;
                width: 100px;
                height: 1px;
                top: 28px;
                left: -100px;
                background-color: #646464;
                transform: rotate(165deg);
            }

            .number2 {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 140px;
                left: -30px;
                width: 20px;
                height: 20px;
                border: 2px solid #646464;
                border-radius: 50%;
                cursor: pointer;
            }
            .line2 {
                position: absolute;
                width: 130px;
                height: 1px;
                top: 125px;
                left: -160px;
                background-color: #646464;
                transform: rotate(20deg);
            }

            .number-selected {
                color: black;
                background-color: pink;
                border-color: pink;
            }

            .line-selected {
                background-color: pink;
            }
        }

        .SurroundSound {
            width: 1560px;
            height: 620px;
            background: url('./image/headset/SurroundSound.png') no-repeat;
            padding-top: 120px;

            .Reset {
                position:absolute; 
                display:flex; 
                justify-content:center; 
                align-items:center; 
                top: 550px; 
                left: 1350px; 
                width:80px; 
                height:25px; 
                color: gray; 
                background-color: #343434; 
                cursor: pointer;
            }

            .Reset:hover {
                filter: brightness(200%);
            }

            .DTS {
                position: absolute;
                display: flex;
                align-items: center;
                top: 550px;
                left: 50px;
                height: 30px;
                font-size: 18px;
                color: #646464;

                .dsc {
                    margin-left: 15px;
                }

                label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10px;
                    background-color: black;
                    cursor: pointer;
                }

                input[type=checkbox] {
                    display: none;
                }
                input[type=checkbox] + span{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    // border-radius: 50%;
                    // background: url('image/lighting/Check.png') no-repeat center;
                    background: transparent;
                    border: 1px solid rgb(100,100,100);
                }
        
                input[type=checkbox]:checked + span {
                    // background: url('image/lighting/Checked.png') no-repeat center;
                    border: 1px solid rgb(100,100,100);
                    background: rgb(190,190,190);
                }
            }

            .VolumeArrow {
                position: absolute;
                display: flex;
                width: 60px;

                .VolumeText {
                    margin-right: 5px;
                    margin-left: 5px;
                    font-size: 18px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    color: #646464
                }

                .VolumeArrow-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer
                }

                .VolumeArrow-img:hover {
                    filter: brightness(200%);
                }
            }
        }
    }

    .content-func {
        position: absolute;
        top: 620px;
        width: 1560px;
        height: 397px;
        background-image: url('./image/contentfunc.png');
        background-repeat: no-repeat;
        background-position: center;

        .block {
            display: flex;
            width: 1560px;
            height: 397px;

            .block-item {
                width: 485px;
                height: 355px;

                .reset {
                    position: absolute;
                    top: 20px;
                    left: 970px;
                    width: 29px;
                    height: 26px;
                    background-image: url('./image/reset.png');
                    z-index:30;
                    cursor: pointer;
                }

                .reset:hover {
                    filter: brightness(200%);
                }

                .item-title {
                    display: flex;
                    align-items: center;
                    height: 30px;
                    margin-left: 50px;
                    margin-top: 5px;
                    color: #bebebe;
                    letter-spacing: 1px;
                    font-size: 18px;
                    font-weight: bolder;
                }

                .item-block {
                    display: flex;
                    flex-direction: column;
                    height: 355px;
                    font-size: 18px;
                    color: #646464;

                    .item-text {
                        position: absolute;
                        font-size: 18px;
                        color: #646464;
                        letter-spacing: 1px;
                        font-weight: bolder;
                    }

                    .item-block-slider {
                        position: absolute;
                        top: 110px;
                        left: 25px;
                        width: 432px;

                        .slider {
                            -webkit-appearance: none;
                            width: 100%;
                            height: 0px;
                            border-radius: 0.5vw;
                            border: 0px;
                            background: #6b6666;
                            outline: none;
                            // opacity: 0.7;
                            -webkit-transition: .2s;
                            transition: opacity .2s;
                            margin: 0.5px;
                        }
    
                        .slider::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;
                            // width: 1vw;
                            // height: 1vw;
                            width: 32px;
                            height: 58px;
                            border-radius: 50%;
                            // background: red;
                            background: url('./image/headset/Mic.png') no-repeat center;
                            cursor: pointer;
                                content:counter(50)'%';
                        }
                        
                        .slider::-moz-range-thumb {
                            // width: 1vw;
                            // height: 1vw;
                            border-radius: 50%;
                            background: white;
                            cursor: pointer;
                        }
    
                        #MicVolumeBounds::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;
                            // width: 20px;
                            // height: 20px;
                            // border-radius: 50%;
                            // background: red;
                            // background: url('./image/headset/barball.png') no-repeat center;
                            width: 8px;
                            height: 23px;
                            background: white;
                            border-radius: 0%;
                            width: 8px;
                            height: 23px;
                            background: white;
                            border-radius: 0%;
                            cursor: pointer;
                                content:counter(50)'%';
                        }
    
                        #MicSideTone::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;
                            // width: 20px;
                            // height: 20px;
                            // border-radius: 50%;
                            // background: red;
                            // background: url('./image/headset/barball.png') no-repeat center;
                            width: 8px;
                            height: 23px;
                            background: white;
                            border-radius: 0%;
                            cursor: pointer;
                                content:counter(50)'%';
                        }
                    }

                    .item-block-item {
                        display: flex;
                        align-items: center;
                        height: 30px;
                        font-size: 18px;
                        margin-left: 50px;
                        margin-top: 20px;

                        .dsc {
                            margin-left: 15px;
                        }

                        label {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 10px;
                            cursor: pointer;
                        }

                        input[type=checkbox] {
                            display: none;
                        }
                        input[type=checkbox] + span{
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            // border-radius: 50%;
                            // background: url('image/lighting/Check.png') no-repeat center;
                            background: transparent;
                            border: 1px solid rgb(100,100,100);
                        }
                
                        input[type=checkbox]:checked + span {
                            // background: url('image/lighting/Checked.png') no-repeat center;
                            border: 1px solid rgb(100,100,100);
                            background: rgb(190,190,190);
                        }
                    }

                    .item-block-item2 {
                        display: flex;
                        flex-direction: column;
                        width: 200px;
                        height: 100px;
                        margin-left: 30px;
                    }

                    .spectrum-item-block-item {
                        display: flex;
                        align-items: center;
                        height: 30px;
                        font-size: 18px;
                        margin-left: 50px;
                        margin-top: 20px;

                        .dsc {
                            margin-left: 15px;
                        }

                        label {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 10px;
                            cursor: pointer;
                        }

                        input[type=checkbox] {
                            display: none;
                        }
                        input[type=checkbox] + span{
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            // border-radius: 50%;
                            background: url('image/spec-normal.png') no-repeat center;
                            // background: transparent;
                            // border: 1px solid rgb(100,100,100);
                            // border-radius: 50%;
                        }
                
                        input[type=checkbox]:checked + span {
                            background: url('image/spec-checked.png') no-repeat center;
                            // border: 1px solid rgb(100,100,100);
                            // background: rgb(255,0,0);
                            // border-radius: 50%;
                        }

                        .Alternation-color {
                            height: 30px;
                            width: 30px;
                            border: 2px solid #646464;
                            margin-left: 15px;
                            cursor: pointer;
                        }

                        .Alternation-color:hover {
                            filter: brightness(170%);
                        }
                    }

                    .micMointer {
                        position: absolute;
                        border: 1px solid #646464;
                        width: 300px;
                        height: 100px;
                        top: 113px;
                        margin-left: 117px;
                        cursor: pointer;
                    }

                    .micMointer:hover {
                        filter: brightness(170%);
                    }
                }

                .Save {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    left: 25px;
                    top: 300px;
                    width: 80px;
                    height: 25px;
                    background-color: #282828;
                    color: #646464;
                    cursor: pointer;
                }

                .Save:hover {
                    filter: brightness(200%);
                }

                .Spectrun-Save {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 1465px;
                    top: 20px;
                    width: 80px;
                    height: 25px;
                    background-color: #282828;
                    color: #646464;
                    cursor: pointer;
                }

                .Spectrun-Save:hover {
                    filter: brightness(200%);
                }

                .app-ColorPicker {
                    position: absolute;
                    top: 20px;
                    left:690px;
                }

                .color-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 10px;
                    left: 505px;
                    width: 150px;
                    height: 300px;
                    // background-color: red;

                    .color-item {
                        height: 36px;
                        width: 96px;
                        background-color: rgb(10,10,10);
                        margin-top: 10px;
                        border: 1px solid #646464;
                    }

                    .color-value {
                        display: flex;
                        height: 40px;
                        width: 140px;
                        margin-top: 10px;
                        color: #646464;

                        .color-value-text {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 40px;
                            width: 20px;
                            font-size: 22px;
                            margin-left: -10px;
                            margin-right: 10px;
                        }

                        .color-value-value {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 30px;
                            width: 96px;
                            border: 1px solid #646464;
                            font-size: 20px;
                        }
                    }
                }

                .color-switch {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 305px;
                    height: 50px;
                    width: 485px;

                    .color-switch-text {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        left: 43px;
                        height: 30px;
                        width: 100px;
                        cursor: pointer;
                        border-radius: 5px;
                        color: #646464;
                        border: 1px solid #646464;
                        font-weight: bolder;
                    }

                    .color-switch-text:hover {
                        filter: brightness(170%);
                    }

                    .color-switch-list {
                        width: 28px;
                        height: 28px;
                        background-color: red;
                        border-radius: 50%;
                        border: 2px solid #646464;
                        cursor: pointer;
                        margin-left: 10px;
                    }

                    .color-switch-list-arrow {
                        width: 10px;
                        height: 6px;
                        background-image: url('./image/upperarrowcon.png');
                        margin-left: 21px;
                    }
                }

                .block-slider {
                    margin-top: 20px;
                    margin-left: 20px;

                    .slider-item {
                        width: 414px;
                        height: 48px;
                        background-image: url('./image/slider.png');
                    }

                    .slider2 {
                        position: absolute;
                        top: 112px;
                        left: 25px;
                        -webkit-appearance: none;
                        width: 400px;
                        height: 5px;
                        border-radius: 0.5vw;
                        border: 0px;
                        background: #6b6666;
                        outline: none;
                        // opacity: 0.7;
                        -webkit-transition: .2s;
                        transition: opacity .2s;
                        margin: 0.5px;
                    }

                    .slider2::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        // width: 1vw;
                        // height: 1vw;
                        width: 5px;
                        height: 15px;
                        // border-radius: 50%;
                        background: white;
                        // background: url('./image/headset/Mic.png') no-repeat center;
                        cursor: pointer;
                            content:counter(50)'%';
                    }
                    
                    .slider2::-moz-range-thumb {
                        // width: 1vw;
                        // height: 1vw;
                        border-radius: 50%;
                        background: white;
                        cursor: pointer;
                    }
                }

                .color-bar {
                    height: 35px;
                    width: 450px;
                    background-color: red;
                    margin-top: 40px;
                    margin-left: 15px;
                }

                .app-ColorSection {
                    position: absolute;
                    top: 220px;
                    left: -35px;
                    width: 400px;
                    height: 35px;
                }

                .lighting-patterns {
                    display: flex;
                    align-items: center;
                    height: 40px;
                    width: 450px;
                    margin-left: 15px;
                    margin-top: 40px;

                    .dsc {
                        display: flex;
                        align-items: center;
                        width: 60px;
                        height: 30px;
                        font-size: 18px;
                        font-weight: bolder;
                        color: #646464;
                    }

                    .pattern-item {
                        height: 30px;
                        width: 70px;
                        background: red;
                        margin-left: 10px;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }

                .section {
                    display: flex;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    top: 220px;
                    left: 420px;
                    width: 60px;
                    height: 35px;

                    .addColor {
                        width: 21px;
                        height: 21px;
                        background-image: url('./image/addclr.png');
                        cursor: pointer;
                    }

                    .addColor:hover {
                        filter: brightness(170%);
                    }

                    .removeColor {
                        width: 19px;
                        height: 23px;
                        background-image: url('./image/deleteclr.png');
                        margin-left: 10px;
                        cursor: pointer;
                    }

                    .removeColor:hover {
                        filter: brightness(170%)
                    }
                }
            }

            .block-select {
                display: flex;
                position: absolute;
                justify-content: center;
                align-items: center;
                color: rgb(100,100,100);

                .block-select-item {
                    .slider-bar {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        left: 0px;
                        top: 43px;

                        .slider-text {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 10px;
                            font-size: 15px;
                        }
                    }

                    .slidecontainer {
                        position: absolute;
                        left: -84px;
                        top: 154px;
                        display: flex;
                        height: 8px;
                        align-items: center;
                        width: 227px;
                        border-left:0.1vh rgb(231, 230, 230) solid;
                        border-right:0.1vh rgb(230, 224, 224) solid;
                        border-color: rgb(209, 202, 202);
                        transform: rotate(270deg);

                        input {
                            border:0px solid transparent;
                        }

                        .slider {
                            -webkit-appearance: none;
                            width: 250px;
                            height: 0.1vw;
                            border-radius: 0.5vw;
                            background: #6b6666;
                            outline: none;
                            // opacity: 0.7;
                            -webkit-transition: .2s;
                            transition: opacity .2s;
                            margin: 0.5px;
                        }
                        
                        .slider::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;
                            // width: 1vw;
                            // height: 1vw;
                            width: 13px;
                            height: 15px;
                            // border-radius: 50%;
                            transform: rotate(270deg);
                            background: url('./image/headset/slider-icon.png') no-repeat center;
                            cursor: pointer;
                                content:counter(50)'%';
                        }
                        
                        .slider::-moz-range-thumb {
                            // width: 1vw;
                            // height: 1vw;
                            border-radius: 50%;
                            background: white;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}