.Check{
    position: absolute;
    width: 850px;
    height: 650px;
    // background: #151515;
    background-color: black;
    color: #dddddd;
    font-family: MB,serif;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .close{
        position: absolute;
        left: 800px;
        top: 10px;
        cursor: pointer;
    }

    .CheckContent{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .topbar {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            background: linear-gradient(180deg, rgba(20, 20, 20, 1)15%, rgba(40, 40, 40, 0.8)110%);
            color: #A4A4A4;
            font-size: 22px;
            .text {
                margin-left: 20px;
            }
        }

        .bottomcontent {
            display: flex;
            width: 100%;
            height: calc(100% - 50px);

            .left-content {
                display: flex;
                flex-direction: column;
                width: 200px;
                height: 100%;
                border-right: solid 1px #A4A4A4;

                .left-content-text {
                    display: flex;
                    align-items: center;
                    height: 30px;
                    font-size: 18px;
                    margin-left: 20px;
                    margin-top: 10px;
                    cursor: pointer;
                }

                .left-content-text:hover {
                    background-color: #A4A4A4;
                    color: #444444
                }
            }

            .right-content {
                display: flex;
                flex-direction: column;
                width: calc(100% - 250px);
                height: 100%;
                font-size: 17px;

                .select {
                    width: 200px;
                    height: 30px;
                    border-color: #646464;
                    margin-left: 20px;
                    margin-top: 10px;
                    border: 1px solid;
                    color: #A4A4A4;
                    font-size: 17px;
                }

                .right-content-botton {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 35px;
                    margin-top: 20px;
                    background-color: #444444;
                    color: #A4A4A4;
                    margin-left: 20px;
                    cursor: pointer;
                }

                .right-content-botton:hover {
                    filter: brightness(200%);
                }

                .right-content-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 35px;
                    margin-top: 20px;
                    color: #A4A4A4;
                }

                .device {
                    width: 600px;
                    height: 530px;
                    margin-top: 50px;
                    margin-left: 20px;

                    
                    .line {
                        width: 100%;
                        height: 1px;
                        background-color: #646464;
                    }

                    .item-block {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 160px;
                        border-top: 1px solid #646464;

                        .item-block-picture {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 140px;
                            height: 130px;
                            border: 1px solid #646464;

                            .device-image {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 120px;
                                height: 100px;
                            }

                            .device-text {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: #2f2f2f;
                                color: #888888;
                                width: 100%;
                                height: 30px;
                                font-size: 15px;
                            }
                        }

                        .device-desc {
                            display: flex;
                            flex-direction: column;
                            width: calc(100% - 140px);
                            height: 130px;

                            .version {
                                display: flex;
                                font-size: 25px;
                                margin-left: 20px;
                                height: 180px;
                                color: #646464;
                            }

                            .device-botton {
                                display: flex;
                                align-items: center;
                                width: 100%;
                                height: 60px;

                                .botton {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 130px;
                                    height: 30px;
                                    background-color: #444444;
                                    color: #A4A4A4;
                                    cursor: pointer;
                                    font-size: 15px;
                                    margin-left: 20px;
                                }

                                .botton:hover {
                                    filter: brightness(200%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}