<!-- <select class="select select-styled" id='quicklight' name="Quicklight" [(ngModel)]='effectitem' (ngModelChange)="effectSelect()">
    <option class="" *ngFor="let item of lightingData" [ngValue]='item'>{{item.name}}</option>
</select> -->

<div class="custom-commonselect{{componentId}}" style = "
position: relative;
width: 100%;
height: 100%;
background-color: transparent;
border-radius: 5px;
">
    <select name="mainselect" style="display:none">
    </select>
</div>

<!-- <div class="custom-commonselect"
    style = "
        position: relative;
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: black;
        border-radius: 5px;
    "
>
    <select name="mainselect" class="mainselect">
    </select>
</div> -->