/* The container must be positioned relative: */
// .custom-commonselect {
//     position: relative;
//     width: 100%;
//     height: 100%;
//     background-color: transparent;
//     color: black;
//     border-radius: 5px;
// }
// .custom-select:hover{
//     filter: brightness(70%);
// }

// .custom-commonselect select {
//     display: none; /*hide original SELECT element: */
// }

// .mainselect {
//     display: none;
// }

.commonselect-selected {
    // background-color: #bbbbbb;
    background-color: transparent;
    border: 1px solid rgb(100,100,100);
}

.commonselect-selected:hover{
    filter: brightness(90%);
    // border: 1px solid #900707;
    // background:rgba(74,4,4,0.3);
}

/* Style the arrow inside the select element: */
.commonselect-selected:after {
    position: absolute;
    content: "";
    top: 45%;
    // right: 10px;
    right: 6%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: rgb(49,49,49) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.commonselect-selected.commonselect-arrow-active:after {
    border-color: transparent transparent rgb(49,49,49) transparent;
    top: 2px;
}

/* style the items (options), including the selected item: */
.commonselect-items div,.commonselect-selected {
    color: inherit;
    // padding: 8px 16px;
    padding: 0px 10px;
    border: 1px solid transparent;
    // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    //height: 50%;

    //超出文字不換行 變成...
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    padding-right: 35px;
}

.commonselect-items::-webkit-scrollbar {
    width: 1vh;
    background: transparent;
}
.commonselect-items::-webkit-scrollbar-track{
    background-color: transparent;
}

.commonselect-items::-webkit-scrollbar-thumb {
    // -webkit-border-radius: 4px;
    // border-radius: 4px;
    background: rgb(40, 40, 40);
}

/* Style items (options): */
.commonselect-items {
    margin-top: 4px;
    position: absolute;
    // background-color: #bbbbbb;
    background-color: rgb(0, 0, 0);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 3px 3px 10px rgb(22,22,22);
    border:1px solid;
}

/* Hide the items when the select box is closed: */
.commonselect-hide {
    display: none;
}

.commonselect-items div:hover, .same-as-commonselected {
    background-color: rgba(255, 255, 255, 1);
}