<div class="ColorPicker">
    <div class="Color-Lighting"></div>
    <div class="Color-Lighting-Point" id="Color-Lighting-Point" (mousemove)="ColorLightPointMove($event)" (mousedown)="ColorLightPointDown($event)" (mouseup)="ColorLightPointUp($event)"></div>
    <canvas class="Color-Main" id="HeadsetCanvas" width="196px" height="196px"></canvas>
    <div class="ColorPoint" id="ColorPoint"></div>
    <img src="./image/colormodel.png" id='HeadsetImg' style="display:none;">
    <!-- <div class="Fake-Circle" id="Fake-Circle"></div> -->
</div>